@import "tailwindcss"; /* V4'ÜN ÇALIŞMASI İÇİN TEK ŞART BU! */

:root {
  --background: #030712;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
@keyframes wave-blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(50px, -50px) scale(1.1); }
  66% { transform: translate(-40px, 40px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-wave {
  animation: wave-blob 12s infinite alternate ease-in-out;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}